@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    /* colors */
    --primary: #4f2816;
    --secondary: #c28840;
  }
  *,
  *::after,
  *::before {
    @apply m-0 p-0 box-border;
    /* scroll-snap-type: y mandatory; */
  }
}
.animate-marquee {
  /* ... other styles */
  animation-timing-function: linear;  /* Make the animation speed consistent */
}

.container {
  @apply max-w-screen-xl mx-auto;
}

.outlined-text{
  color:#fff;
  -webkit-text-stroke: 4px #EEA954;
}



